/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background: #FFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }
  
  /* Caixa do formulário */
  .form-box {
    background-color: rgba(116,120,123,255);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); 
    width: 320px;
    text-align: center;
  }
  /* Cor texto Cadastro */
  .form-box h2 {
    margin-bottom: 20px;
    color: #D72638;
  }
  
  /* Campos de entrada */
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background:rgba(217,217,213,255);
    color: #fff;
  }
  /* Cor do Texto que pede as informações */
  input::placeholder {
    color: rgba(116,120,123,255);
  }
  
  /* Botão de cadastro */
  button {
    width: 100%;
    padding: 10px;
    background-color: #F46036;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #D72638;
  }
  
  /* Links */
  .links {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .links a {
    color:rgba(243,93,40,255);
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }